/node_modules/
user.js

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.vscode/
.vscode-test/
.history/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/
/tests-examples/